*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Inter', sans-serif;
  background-color: #F9FAFB;
  color: #101828;
  min-height: 100vh;
}

#root {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 64px 24px;
  min-height: 100vh;
}
